@model BaseConLogin.Models.Proyectos

<h2>Eliminar Proyecto</h2>

<h3>¿Estás seguro de que deseas eliminar este proyecto?</h3>
<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Producto.Nombre</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Producto.Descripcion</dd>

        <dt class="col-sm-2">Aportaciones</dt>
        <dd class="col-sm-10">@Model.Aportaciones</dd>

        <dt class="col-sm-2">Fecha de Inicio</dt>
        <dd class="col-sm-10">@Model.FechaInicio.ToShortDateString()</dd>

        <dt class="col-sm-2">Fecha de Fin</dt>
        <dd class="col-sm-10">@Model.FechaFin?.ToShortDateString()</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
